mixin about()
  -
    const aboutList = [
      {
        icon: ["plane", 68, 68],
        title: "Ничего лишнего",
        text: "Отсутствие лишних приложений для операторов. Оператору не&nbsp;нужно учиться работать с&nbsp;чатом",
      },
      {
        icon: ["simplicity", 68, 68],
        title: "Простота",
        text: "Простая установка на&nbsp;сайт",
      },
      {
        icon: ["assistants", 68, 68],
        title: "Несколько ассистентов",
        text: "Возможность подключения нескольких ассистентов",
      },
      {
        icon: ["customization", 68, 68],
        title: "Кастомизация",
        text: "Настройка интерфейса под нужды сайта",
      },
    ]

  section.about
    .container
      .about__wrapper
        .about__text
          h2.title.title--h2.about__title Logo Online — это
          ul.about__list.list
            each item in aboutList
              li.about__item
                +icon(...item.icon)
                h3.title.title--h3!= item.title
                p!= item.text
        .about__image
          +picture("content", "about-phone", "png", 411, 666, "телефон с чатом")
