mixin banner()
  section.banner
    .container
      .banner__wrapper
        +icon("chat2", 314, 271)
        .banner__text
          h2 Подключите Telegram чат уже сегодня
          form(action="", method="post")
            label(for="email").visually-hidden Введите e-mail
            input(type="email" id="email" name="email" placeholder="Введите e-mail", required)
            button Отправить
