.btn {
  display: inline-flex;
  padding: size-desktop(10px) size-desktop(20px);

  font-family: $ff-default;
  font-weight: 700;
  font-size: size-desktop(16px);
  line-height: size-desktop(20px);
  color: $color-default-white;

  border: none;
  cursor: pointer;
  border-radius: size-desktop(6px);
  transition: background-color $trans-default;

  @include vp-1439 {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
  }

  &--pink {
    color: $color-slate-blue;
    background-color: $color-magnolia;
  }

  &--purple {
    background-color: $color-slate-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
