.header {
  padding: size-desktop(30px) 0;

  background-color: $color-default-white;

  @include vp-1439 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    display: none;
  }
}
