.main-nav {
  @include vp-767 {
    display: none;
  }

  &__item {
    margin-right: size-desktop(63px);

    &:last-child {
      margin-right: 0;
    }

    @include vp-1439 {
      margin-right: 24px;
    }

    a {
      font-size: size-desktop(20px);
      line-height: size-desktop(26px);

      @include vp-1439 {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__button {
    margin-right: size-desktop(12px);

    @include vp-1439 {
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.authorized {
  .authorized__nav {
    display: flex;
  }

  .not-authorized__nav {
    display: none;
  }
}

.not-authorized {
  .authorized__nav {
    display: none;
  }

  .not-authorized__nav {
    display: flex;
  }
}
