.main-nav {
  @include vp-767 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 90px;

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    visibility: hidden;
    background-color: $color-default-white;

    .is-open & {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  &__wrapper {
    @include vp-767 {
      padding: 0 30px 60px;
    }
  }

  &__item {
    margin-right: size-desktop(63px);

    &:last-child {
      margin-right: 0;
    }

    @include vp-1439 {
      margin-right: 24px;
    }

    @include vp-767 {
      margin-bottom: 25px;
    }

    a {
      font-size: size-desktop(20px);
      line-height: size-desktop(26px);

      @include vp-1439 {
        font-size: 16px;
        line-height: 24px;
      }

      @media (hover: hover),
      screen and (min-width: 0\0) {

        &:hover,
        &:focus {
          opacity: 0.7;
        }
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__button {
    margin-right: size-desktop(12px);

    @include vp-1439 {
      margin-right: 12px;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 15px;

      a {
        justify-content: center;
        width: 100%;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.authorized {
  .authorized__nav {
    display: flex;

    @include vp-767 {
      flex-direction: column;
    }
  }

  .not-authorized__nav {
    display: none;
  }
}

.not-authorized {
  .authorized__nav {
    display: none;
  }

  .not-authorized__nav {
    display: flex;

    @include vp-767 {
      flex-direction: column;
    }
  }
}
