.steps {
  padding-top: size-desktop(50px);
  padding-bottom: size-desktop(120px);

  background-image: linear-gradient(180deg, $color-default-white 48%, $color-white-blue 48%);

  @include vp-1439 {
    padding-top: 50px;
    padding-bottom: 120px;
  }

  &__title {
    margin-bottom: size-desktop(55px);
    text-align: center;

    @include vp-1439 {
      margin-bottom: 55px;
    }

    @include vp-1023 {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include vp-767 {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @include vp-1023 {
      justify-content: center;
      padding-top: 0;
    }

    @include vp-767 {
      justify-content: initial;
    }
  }

  &__step1,
  &__step3 {
    width: size-desktop(237px);

    @include vp-1439 {
      width: 237px;
    }

    @include vp-1023 {
      width: 211px;
    }

    img {
      width: size-desktop(233px);

      @include vp-1439 {
        width: 233px;
      }
    }
  }

  &__step2 {
    position: relative;
    padding-top: size-desktop(70px);
    width: size-desktop(281px);

    @include vp-1439 {
      padding-top: 70px;
      width: 281px;
    }

    @include vp-1023 {
      padding-top: 0;
      width: 211px;
    }

    img {
      width: size-desktop(276px);

      @include vp-1439 {
        width: 276px;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: size-desktop(-25px);
      z-index: -1;

      width: size-desktop(360px);
      height: size-desktop(150px);

      background-repeat: no-repeat;

      @include vp-1439 {
        top: -25px;

        width: 360px;
        height: 150px;
      }

      @include vp-1023 {
        display: none;
      }
    }

    &::before {
      left: size-desktop(-250px);
      background-image: url("../img/svg/plane1.svg");
      background-size: size-desktop(357px) size-desktop(240px);

      @include vp-1439 {
        left: -250px;
        background-size: 357px 240px;
      }
    }

    &::after {
      right: size-desktop(-250px);
      background-image: url("../img/svg/plane2.svg");
      background-size: size-desktop(350px) size-desktop(167px);

      @include vp-1439 {
        right: -250px;
        background-size: 350px 167px;
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: size-desktop(15px);
    width: size-desktop(72px);
    height: size-desktop(72px);

    font-weight: 700;
    font-size: size-desktop(30px);
    line-height: size-desktop(30px);

    color: $color-slate-blue;
    background-color: $color-magnolia;
    border-radius: 50%;

    @include vp-1439 {
      margin-bottom: 15px;
      width: 72px;
      height: 72px;

      font-size: 30px;
      line-height: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    @include vp-1023 {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }
    }

    h3 {
      margin-bottom: size-desktop(5px);

      font-weight: 700;
      font-size: size-desktop(18px);
      line-height: size-desktop(28px);

      @include vp-1439 {
        margin-bottom: 5px;

        font-size: 18px;
        line-height: 28px;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: size-desktop(45px);

      @include vp-1439 {
        margin-bottom: 45px;
      }

      @include vp-1023 {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
