.title {
  margin: 0;

  &--h1 {
    margin-bottom: size-desktop(24px);

    font-weight: 800;
    font-size: size-desktop(50px);
    line-height: size-desktop(60px);

    @include vp-1439 {
      margin-bottom: 24px;
      font-size: 50px;
      line-height: 60px;
    }

    @include vp-1023 {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &--h2 {
    font-weight: 800;
    font-size: size-desktop(48px);
    line-height: size-desktop(32px);

    @include vp-1439 {}
  }
}
