@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/gilroy/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/gilroy/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/gilroy/Gilroy-Semibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/gilroy/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  font-display: swap;
  src:
    url("../fonts/gilroy/Gilroy-Extrabold.woff2") format("woff2"),
    url("../fonts/gilroy/Gilroy-Extrabold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src:
    url("../fonts/.woff2") format("woff2"),
    url("../fonts/.woff") format("woff");
}
