mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Подключение",
        class: "color-purple",
      },
      {
        href: "#",
        text: "Оплата",
      },
      {
        href: "#",
        text: "Контакты",
      },
      {
        href: "#",
        text: "Выход",
      },
    ]

  header.header(class=headerMods)
    .container
      +logo().logo--header
      button.header__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
        +icon("icon-burger", 20, 20)
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list.authorized__nav.list
            each link in headerLinks
              li.main-nav__item
                a(href=link.href, class!=link.class)=link.text
          ul.main-nav__buttons.not-authorized__nav.list
            li.main-nav__button
              +btn({href:"#", text: "Вход"}).btn--pink.main-nav__entrance
            li.main-nav__button
              +btn({href:"#", text: "Регистрация"}).btn--purple.main-nav__registration
