doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="ProjectName — описание")
    <link rel="icon" type="image/x-icon" href="favicon/favicon.ico">

    //- используйте только для шрифта находящегося на первом экране
    link(rel="preload", href="fonts/gilroy/Gilroy-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/gilroy/Gilroy-Bold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/gilroy/Gilroy-Extrabold.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
